.row {
  display: grid;
  grid-template-columns: 1fr 5fr 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--gray-900);
  font-size: 1rem;

  .price {
    padding: 0.25rem;
  }

  .price-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: space-between;
    align-items: center;

    .change-ask-bid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .delete-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .delete {
      display: flex;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
    }
  }

  .delete-mobile {
    display: none;
  }

  .change-ask-bid-container {
    gap: 0.25rem;

    .change-percentage-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .change {
        position: relative;
        transition: background-color 0.5s ease-out;
        min-width: 4.5rem;
        justify-self: flex-end;
        text-align: right;

        &::before {
          content: "";
          position: absolute;
          left: -0.75rem;
          top: 50%;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-left: 0.325rem solid transparent;
          border-right: 0.325rem solid transparent;
        }

        &.positive::before {
          border-bottom: 0.5rem solid var(--green-800);
        }

        &.negative::before {
          border-top: 0.5rem solid var(--red-800);
        }
      }

      .color {
        padding: 0.25rem;

        &.positive {
          color: var(--green-800);
        }

        &.negative {
          color: var(--red-800);
        }
      }
    }

    .ask-bid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .quote {
        display: flex;
        justify-content: flex-end;
        justify-self: flex-end;
        align-items: center;
        padding: 0.25rem;
      }

      .text {
        display: none;
      }
    }
  }

  .change,
  .price,
  .percentage {
    justify-self: flex-end;
  }

  .transition {
    animation: fadeBackground 2s ease-out forwards;
    border-radius: 0.125rem;
  }

  .mobile-value {
    display: none;
  }
}

@keyframes fadeBackground {
  0% {
    background-color: var(--gray-200);
  }
  50% {
    background-color: var(--gray-150);
  }
  100% {
    background-color: transparent;
  }
}

@media (max-width: 1024px) {
  .row {
    grid-template-columns: 1fr 5fr;

    .price-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 0.25rem;

      .change-ask-bid-container {
        grid-template-columns: 1fr;

        .change {
          min-width: 3.5rem;
        }

        .ask-bid-container {
          font-size: 1rem;
          .text {
            display: block;
          }
        }
      }
    }

    .delete-container {
      .delete {
        display: none;
      }
    }

    .delete-mobile {
      display: block;
      width: fit-content;
      justify-self: flex-end;
      margin-top: 0.125rem;
      background: var(--red-700);

      &:hover {
        background: var(--red-800);
      }

      &:active {
        background: var(--red-800);
      }
    }
  }
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(2, 1fr);

    > .price,
    > .change-container,
    > .percentage {
      display: none;
    }

    .price-container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      align-items: flex-end;

      .price {
        font-size: 1.125rem;
      }

      .change-ask-bid-container {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: flex-end;

        .change-percentage-container {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;

          .change {
            &::before {
              display: none;
            }
          }

          .percentage {
            .sign,
            .value {
              display: none;
            }

            .mobile-value {
              display: block;
            }
          }
        }
      }
    }

    .delete-mobile {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
    }
  }
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    padding: 0.5rem;
  }
}
