.button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: black;
  color: white;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background: var(--gray-900);
  }

  &:active {
    background: black;
  }
}
