.app {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    position: relative;
    min-width: 18rem;
  }
}

@media (max-width: 1024px) {
  .app {
    max-width: var(--tablet-max-width);
  }
}

@media (max-width: 768px) {
  .app {
    padding: 1rem;
    gap: 1rem;
    max-width: var(--mobile-max-width);

    .container {
      gap: 0.5rem;
    }
  }
}
